<div class="cross-anim-parent bg-black py-24 sm:py-32">

	<div class="cross-anim-box box-1 .box">
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
    </div>
	<div class="cross-anim-box box-2 .box">
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
    </div>
	<div class="cross-anim-box box-3 .box">
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
    </div>
	<div class="cross-anim-box box-4 .box">
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
    </div>


	<div class="mx-auto w-9/12  px-6 lg:px-8">
		<div class="mx-auto max-w-2xl text-center">
			<h2 class="text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">Nos actualités</h2>
			<p class="mt-2 text-lg leading-8 text-gray-100">Learn how to grow your business with our expert advice.</p>
		</div>
		<div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
			
			{% for actu in lastActus %}
				<article class="flex flex-col items-start justify-between">
					<div class="relative w-full">
						<img src="{{ asset('assets/uploads/actus/' ~ actu.getMediaPicture()) }}" alt="{{ actu.getMediaAlt }}" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
						<div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
					</div>
					<div class="max-w-xl">
						<div class="mt-8 flex items-center gap-x-4 text-xs">
							<time datetime="2020-03-16" class="text-gray-500 py-1.5 ">{{actu.createdAt|date('Y-m-d')}}</time>
						</div>
						<div class="group relative">
							<h3 class="mt-3 text-lg font-semibold leading-6 text-gray-100 group-hover:text-gray-200">
								<a href="{{ path('actu_single', { 'slug': actu.slug }) }}">
									<span class="absolute inset-0"></span>
									{{actu.title}}
								</a>
							</h3>
							<p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-100">{{actu.content[:300] ~ '...'  }}</p>
						</div>
						<div class="relative mt-8 flex items-center gap-x-4">
							<div class="text-sm leading-6">								
							<a href="{{ path('actu_single', { 'slug': actu.slug }) }}">
								<button type="button" class="rounded-md bg-customBlue px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Lire l'article</button>
							</a>
							</div>
						</div>
					</div>
				</article>
			{% endfor %}
			<!-- More posts... -->
		</div>
	</div>
</div>
