{% extends 'base.html.twig' %}

{% block meta_description %}Explorez notre gamme de produits soigneusement sélectionnés auprès de nos partenaires fournisseurs de confiance. Nous vous proposons des menuiseries, volets, portails, portes, fenêtres et bien d'autres solutions d'excellente qualité, que notre équipe expérimentée se fera un plaisir de poser selon vos préférences et besoins spécifiques.{% endblock %}


{% block meta_og_title %}{{category.name}} | Créabat Menuiseries{% endblock %}

{% block meta_og_description %}Explorez notre gamme de produits soigneusement sélectionnés auprès de nos partenaires fournisseurs de confiance. Nous vous proposons des menuiseries, volets, portails, portes, fenêtres et bien d'autres solutions d'excellente qualité, que notre équipe expérimentée se fera un plaisir de poser selon vos préférences et besoins spécifiques.{% endblock %}

{# Voir pour meta_ogo_image #}
{% block meta_og_image %}
	
{% endblock %}

{% block title %}{{category.name}} | Créabat Menuiseries{% endblock %}

{% block body %}
		<div class="relative">
			<img class="w-full h-[180px] object-cover xl:h-[350px] 3xl:h-[450px] " src="{{ asset('assets/img/photos/01_hero_fenetre.avif')}}" 
				alt="Image de présentation de la catégorie de produit">				
			<div class="animate-flip-down absolute w-[60%] left-0 bottom-[-20px] xl:bottom-[-30px] 3xl:bottom-[-70px]  rounded-r-lg bg-customYellow py-2 px-2 3xl:py-8 3xl:px-8 ">
				<h1 class="animate-fade-down animate-duration-[800ms] animate-ease-in-out animate-delay-[500ms] mr-[90px] text-lg text-end font-black tracking-wide  text-gray-900 md:text-3xl sm:text-4xl uppercase">{{category.name}}</h1>
			</div>
		</div>
			
	<div class="w-full mx-auto px-4 pb-28 lg:px-8 xl:w-9/12 xl:mt-36 3xl:mt-56">
		<div>
			{% for category in products %}
				{% for  product in category.products %}					
					<div class="justify-between mt-16 md:gap-4 md:align-middle lg:mt-20 xl:gap-12 {% if product.id is even %}flex flex-col  xl:flex-row {% else %} flex flex-col xl:flex-row-reverse{% endif %}">
						<div class="xl:w-1/2 delay-[300ms] duration-[800ms] taos:translate-x-[200px] taos:opacity-0" data-taos-offset="200">
							<h2 class="text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600 3xl:text-2xl uppercase">{{product.name}}</h2>
							{% autoescape false %}
								
							<p class="mb-3 mt-3 text-sm leading-6 text-gray-600 text-left md:mb-0.5 xl:text-base 3xl:text-2xl">{{ product.description}}</p>
							{% endautoescape %}
						</div>
						{% for media in product.media %}
						
						<img class="w-full  h-[250px] object-cover rounded-lg xl:w-1/2 md:h-[400px] 3xl:h-[550px] 3xl:w-[800px] delay-[300ms] duration-[800ms] taos:translate-y-[-200px] taos:opacity-0" data-taos-offset="500" 
							src="{{ asset('assets/uploads/products/' ~ media.picture()) }}" 
							alt="{{media.alt}}">
					</div>
					{% endfor %}
				{% endfor %}
			{% endfor %}

		</div>
	</div>
{% endblock %}
