{% extends 'base.html.twig' %}

{% block title %}{{actu.title}}{% endblock %}

{% block body %}
    <div class="mx-auto w-9/12 flex py-14 sm:py-32 px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col mx-auto">
            <h1>{{actu.title}}</h1>
            <img src="{{ asset('assets/uploads/actus/' ~ actu.getMediaPicture()) }}" alt="{{ actu.getMediaAlt}}"/>           
            <figcaption class="text-xs font-thin text-gray-400">{{image.caption}}</figcaption>
            <p>{{actu.content}}</p>
        </div>
    </div>
{% endblock %}
